{% extends "::layout.html.twig" %}
{% block body %}
Tous les entrainements

{{ form(form) }}

<table class="table table-hover table-bordered">
  <tr class="info">
    <th>Date</th>
    <th>Début</th>
    <th>Fin</th>
    <th>Obligatoire</th>
    <th>Salle</th>
    <th>Entraineur</th>
    <th>Equipe</th>   
  </tr>
  
{% for e in allEntrainement %}
  <tr class="success">
  <td>
  {{e.jour|date("d/m/Y")}}
  </td>
  <td>
    {{e.debut | date("d/m/Y")}}
  </td>
  <td>
    {{e.fin | date("d/m/Y")}}
  </td>
  <td>
    {{ e.obligatoire }}
  </td>
  <td>
    {{e.salle.nom}}
  </td>
  <td>
    {{e.entraineur.nom}}
  </td>
  <td>
    {{e.equipe.categorie.sigle}}
  </td>  
  </tr>
  {% endfor %}
  
</table>
  
  <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  {% endblock %}