{% extends '::layout.html.twig' %}

{% block title %} 
  Player Index
{% endblock %}

{# % blocl body %}
Tous les joueurs

{{ form(form) }}

  {% endblock %#}
{% block body %}
  <div class="container">
    <!-- Example row of columns -->
    <div class="row centered-form">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>Inscription</strong> <small> Formulaire pour l'inscription d'une personne !!! </small></h3>
          </div>
          <div class="panel-body">
            {{ form_start(form) }}
            <form role="form">
              <div class="row">
                <div class="form-group col-xs-12 col-sm-6 col-md-3">
                  <label for="nom">Nom</label>
                  {{ form_widget(form.nom, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="form-group col-xs-12 col-sm-6 col-md-3">
                  <label for="prenom">Prénom</label>
                  {{ form_widget(form.prenom, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="form-group col-xs-6 col-sm-6 col-md-3">
                  <label for="genre">Genre</label>
                  {{ form_widget(form.genre, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="form-group col-xs-6 col-sm-6 col-md-3">
                  <label for="refP">Type</label>
                  {{ form_widget(form.refPersonne, { 'attr': {'class': 'form-control'} }) }}
                </div>      
              </div>
              <div class="row">
                <div class="form-group col-xs-6 col-sm-3 col-md-3">
                  <label for="birthday">Date de naissance</label>
                  {{ form_widget(form.birthday, { 'attr': {'class': 'input-append'} }) }}
                </div>
                <div class="form-group col-xs-2 col-sm-1 col-md-3">
                  <label for="inscrit">Inscrit ?</label>
                  {{ form_widget(form.inscrit, { 'attr': {'class': 'checkbox'} }) }}
                </div>
                <div class="form-group col-xs-2 col-sm-2 col-md-3">
                  <label for="licensePayee">License payee ?</label>
                  {{ form_widget(form.licensePayee, { 'attr': {'class': 'checkbox'} }) }}
                </div>
                <div class="form-group col-xs-2 col-sm-2 col-md-3">
                  <label for="licenseRecue">License recue ?</label>
                  {{ form_widget(form.licenseRecue, { 'attr': {'class': 'checkbox'} }) }}
                </div>
              </div>
              <div class="row">
                <div class="form-group col-xs-12 col-sm-4 col-md-4">
                  <label for="adresse">Adresse</label>
                  {{ form_widget(form.adresse, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="form-group col-xs-12 col-sm-4 col-md-4">
                    <label for="ville">Ville</label>
                    {{ form_widget(form.ville, { 'attr': {'class': 'form-control'} }) }}
                  </div>
                  <div class="form-group col-xs-12 col-sm-4 col-md-4">
                  <label for="codepostal">Code Postal</label>
                  {{ form_widget(form.codePostal, { 'attr': {'class': 'form-control'} }) }}
                  </div>                
              </div>
                <div class="row">
                  <div class="form-group col-xs-12 col-sm-4 col-md-4">
                  <label for="adresseP">Adresse parents</label>
                  {{ form_widget(form.adresseParents, { 'attr': {'class': 'form-control'} }) }}
                  </div>
                  <div class="form-group col-xs-12 col-sm-4 col-md-4">
                    <label for="ville">Ville parents</label>
                    {{ form_widget(form.villeParents, { 'attr': {'class': 'form-control'} }) }}
                  </div>
                  <div class="form-group col-xs-12 col-sm-4 col-md-4">
                  <label for="codepostal">Code Postal parents</label>
                  {{ form_widget(form.codepostalParents, { 'attr': {'class': 'form-control'} }) }}
                  </div>         
                </div>              
              <div class="row">
                <div class="form-group col-xs-12 col-sm-6 col-md-4">
                  <label for="mobile">Mobile</label>
                  {{ form_widget(form.mobile, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="form-group col-xs-12 col-sm-6 col-md-4">
                  <label for="tel">Téléphone</label>
                  {{ form_widget(form.tel, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="form-group col-xs-12 col-sm-6 col-md-4">
                  <label for="license">Numéro License</label>
                  {{ form_widget(form.license, { 'attr': {'class': 'form-control', 'placeholder':'Ex: MU123456'} }) }}
                </div>
              </div>
              <div class="row">
                <div class="form-group col-xs-12 col-sm-6 col-md-4">
                  <label for="email">E-mail</label>
                  {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="form-group col-xs-12 col-sm-6 col-md-4">
                  <label for="emailParents">E-mail parents</label>
                  {{ form_widget(form.emailParents, { 'attr': {'class': 'form-control'} }) }}
                </div>
              </div>
              <div class="row">
                <div class="form-group col-xs-12 col-sm-6 col-md-12">
                  <label for="divers">Divers</label>
                  {{ form_widget(form.divers, { 'attr': {'class': 'form-control pull-right'} }) }}
                </div>    
              </div>
              <!-- <div class="checkbox">
                <label>
                  <input type="checkbox"> Check me out
                </label>
              </div> -->
              <div class="row centered-form">
                <div class="form-group col-xs-12 col-sm-6 col-md-4 col-md-offset-2">
                  {{ form_widget(form.save, { 'attr': {'class': 'btn btn-success btn-lg btn-block'} }) }}
                  <!-- Generate new token -->
                  {{ form_widget(form._token) }}
                </div>
                <div class="form-group col-xs-12 col-sm-6 col-md-4">
                  <INPUT TYPE="reset" class="btn btn-danger btn-lg btn-block" NAME="nom" VALUE="Annuler">
                </div>
              </div>
            </form>
            {{ form_end(form) }}
          </div>
        </div>
      </div>
    </div> <!-- /container -->

    <div>
      <table class="table table-hover table-bordered table-striped">
        <tr>
          <th>Nom</th>
          <th>Prenom</th>
          <th>Genre</th>
          <th>Adresse</th>
          <th>Adresse des parents</th>
          <th>Mobile</th>
          <th>Telephone</th>
          <th>License</th>
          <th>Divers</th>
        </tr>

        {% for player in allPlayers %}
          <tr>
            <td>
              {{player.nom}}
            </td>
            <td>
              {{player.prenom}}
            </td>
            <td>
              {{player.genre}}
            </td>
            <td>
              {{player.adresse}}
            </td>
            <td>
              {{player.adresseParents}}
            </td>
            <td>
              {{player.mobile}}
            </td>
            <td>
              {{player.tel}}
            </td>
            <td>
              {{player.license}}
            </td>
            <td>
              {{player.divers}}
            </td>
          </tr>
        {% endfor %}

      </table>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="../../../web/js/bootstrap-datetimepicker.min.js"></script>
    <script src="../../../web/js/flat.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  {% endblock %}
